.list-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  
}

.list-item{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 16vh;
  min-width: 300px;
  margin: 2vh;
  padding: 2vh;
  border-radius: 2%;
  border: solid 1px darkgrey;
  word-wrap: break-word;
}

.list-button{
  border: solid darkgrey 1px;
  border-radius: 15%;
  background-color: teal;
  padding: 4px;
  font-size: 10px;
  color: whitesmoke;
}
